<nav *ngIf="currentUser.id != 0">
    <a routerLink="/homepage">Homepage</a>
    <!--<header-router-outlet></header-router-outlet>-->
    <!--*ngIf="admin=undefined"-->
    <div *ngIf="currentUser.id == -1">  <!--When no one's logged in -> login page-->
        <a routerLink="/loginpage">Login</a>
    </div>

    <div *ngIf="currentUser.id >= 1"><!--When user logged in: shopping cart link (and logout option?)-->
        <a routerLink="/shoppingcart/{{currentUser.id}}">Shopping Cart</a>  <!--REPLACE TEXT W/ PICTURE OF SHOPPING CART-->        
    </div>

    <app-product-search></app-product-search>  <!--Product-Search Component-->
    
</nav>

<nav *ngIf="currentUser.id == 0">
    <a routerLink="/admin">Admin</a>
    <app-product-search></app-product-search>  <!--Product-Search Component-->
</nav>

