<!--Search box takes input and returns relevatn -->
<div id="search-component">
    <label for="search-box">Product Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let product of products$ | async" >
        <a *ngIf="currentUser.id != 0" routerLink="/info/{{product.id}}">
          {{product.name}}
        </a>
        <a *ngIf="currentUser.id == 0" routerLink="/edit/{{product.id}}">
          {{product.name}}
        </a>
      </li>
    </ul>
  </div>